# Arquivos de configuração
.env
config.php

# Arquivos de sistema
.DS_Store
Thumbs.db

# Diretórios de dependências
/vendor/
/node_modules/

# Arquivos de log
*.log
error_log
access_log

# Arquivos de cache
*.cache
*.tmp

# Arquivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de backup
*.bak
*.backup
*~

# Ignorar arquivos de ambiente local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar build Vercel
.vercel

node_modules
dist
dist-ssr
*.tar.gz
